* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

/* <<<-------------------- Nav Bar -------------------->>> */

nav {
    text-align: center;
    overflow: hidden;
    padding: 0.7vw;
    background-color: #fac710;
}

nav a {
    color: white;
    padding: 3vw;
    text-decoration: none;
    font-size: 1.5vw;
}

nav a.activePage {
    color: #ef5f4f;
}

nav .fa-brands {
    padding-left: 3vw;
    padding-top: 0.4vw;
    float: right;
}

nav .navLogo {
    float: left;
    margin-left: 1vw;
}


/* <<<-------------------- Home Page -------------------->>> */

header {
    background-color: #fac710;
    height: 30%;
}

.homeLogo {
    height: 10vw;
    padding-top: 2vw;
    display: block;
    margin: auto;
}

.searchMeBtn {
    display: block;
    margin: auto;
    width: 15vw;
    height: 3vw;
    border-radius: 7.5vw;
    text-decoration: none;
    background-color: rgb(223, 223, 223);
    border: none;
}

.homeColumn {
    float: left;
    padding: 1.5vw;
    width: 30.33%;
    margin: 1.5%;
    height: 18vw;
}

/* .sad{
    position: absolute;
    z-index: 99;
    top: 18vw;
    left: au;
} */

.homeSlideImages {
    width: 27vw;
    height: 18vw;
    transition: 1000ms;
    border-radius: 0.5vw;
    /* transition-delay: 2000; */
}

/* <<<------------------ Property Page ------------------>>> */

.column1, .column2, .column3 {
    float: left;
    padding: 1vw;
    margin: 1%;
    height: 90%;
    background-color: rgb(223, 223, 223);
    border-radius: 0.5vw;
}

.column1 h1, .column2 h1, .column3 h1 {
    text-align: center;
    display: block;
    margin: auto;
}

/* **************  Column 2 ************** */

.adCard {
    background-color: white;
    border: 5px solid white;
    display: flex; /* Image & text side by side */
}

.seeMore {
    color: rgb(0, 153, 255);
    border: none; /* removes the border */
    background-color: transparent; /* removes the background color */
    color: inherit; /* inherits the text color from the parent element */
}

#tabs {
    background-color: white;
    text-align: center;
    height: 18vw;
}

ul {
    list-style-type: none; /* removes the bullet symbol */
    display: flex; /* displays the list items horizontally */
    background-color: black;
    padding: 0;
}

ul > li {
    width: 33.33%;
    background-color: #ef5f4f;
    padding: 5px;
}

li > a {
    color: white; /* removes the color */
    text-decoration: none; /* removes the underline */
}


/* <<<------------------ Footer ------------------>>> */

footer {
    text-align: center;
}
